/* Sass Template */
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Oxygen&family=Raleway:wght@300;400&display=swap");

/* font template */
.font-oswald {
  font-family: "Oswald", sans-serif;
}
.font-rale {
  font-family: "Oxygen", sans-serif;
}
.font-oxygen {
  font-family: "Raleway", sans-serif;
}

/* custom font sizes */
.fs-8 {
  font-size: 8px;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}

/* color template */
.color-white {
  color: white;
}

.color-primary {
  color: #003859;
}
.color-primary-bg {
  background: #003859;
}
.color-second {
  color: #00a5c4;
}

.color-blue {
  color: #023fb1;
}
.color-blue-bg {
  background: #023fb1;
}

.color-second-bg {
  background: rgb(9, 32, 121);
  background: radial-gradient(
    circle,
    rgba(9, 32, 121, 1) 50%,
    rgba(2, 0, 36, 1) 100%
  );
}

.color-yellow {
  color: #ffd289;
}
.color-yellow-bg {
  background: #ffd289;
}

.color-gradient {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 29%,
    rgba(0, 212, 255, 1) 100%
  );
}

.carousel-caption {
  position: absolute;
  right: 60%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

/* Top-sale */
.product a {
  overflow: hidden;
}

.product a img {
  transition: transform 0.5s ease;
}

.product a img:hover {
  transform: scale(1.1);
}

/* prev and next button */
.owl-nav button {
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;
  outline: none;
}

#banner-area button.owl-prev {
  color: #fff;
  left: 10em;
  font-size: 1.5em;
}

#banner-area button.owl-next {
  color: #fff;
  right: 10em;
  font-size: 1.5em;
}

.owl-nav button.owl-prev {
  left: -3.5em;
}
.owl-nav button.owl-next {
  right: -3.5em;
}
.owl-nav button.owl-prev span,
.owl-nav button.owl-next span {
  color: #003859;
}

/* Special-price */
.grid-item {
  margin-top: 1rem;
  margin-right: 1rem;
}


